* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'SF-text';
   src:url(SF-Pro-Text-Ultraligh.woff)format("woff");
}

@font-face {
  font-family:'SF-dis';
   src:url(/SF-Pro-Display-Ultralight.woff)format("woff");
}

@font-face {
  font-family:'hiraginoW0';
   src:url("ヒラギノ角ゴシック W0.woff")format("woff");
}

@font-face {
  font-family:'hiraginoW1';
   src:url("ヒラギノ角ゴシック W1.woff")format("woff");
}

header{
  height:10vw;
  width: 100vw;
}

.headContents {
  display: flex;
}

.logo {
  width: 45vw;
  text-align: left;
}

.logo img {
  width: 12vw;
  margin-left: 0vw;
}

#menu {
  width:45vw;
  text-align: right;
}

#menu li {
  font-family:'SF-text';
  list-style: none;
  float: left;
  margin-right: 5vw;
  font-size: 200%;
}

#menu li a {
  text-decoration: none;
  color: #000000;
}

#menu a::before,
#menu a::after {
  border-bottom: solid 1px #000000;
  bottom: 0;
  content: '';
  position: absolute;
  display: flex;
  transition: all .3s ease;
  width: 0;
}
#menu a::before {
  left: 50%;
}
#menu a::after {
  right: 50%;
}
#menu a:hover::before,
#menu a:hover::after {
  width: 50%;
}

.top {
  text-align: center;
}

.top img {
  width:80vw;
  margin-bottom: 15vw;
}

.top video {
  position:absolute;
  width:80vw;
  z-index: 999;
  top:15%;
  left: 20%;
}

.about {
  display: flex;
  margin-bottom: 7vw;
}

.aboutLeft {
  width: 45vw;
  margin-left: 7vw;
}

#aboutTitle {
  font-family:'SF-text';
  font-size: 250%;
}

.aboutLeft p {
  font-family:'hiraginoW0';
  font-size: 150%;
}

.aboutRight {
  width: 45vw;
}

.aboutRight img {
  width: 90%;
}

.contents {
  display: flex;
  margin-bottom: 7vw;
}

.contentsLeft {
  width: 45vw;
  margin-left: 7vw;
}

.contentsLeft img {
  width: 90%;
}

#contentsTitle {
  font-family:'SF-text';
  font-size: 250%;
}

.contentsRight {
  width: 45vw;
}

.contentsRight p {
  font-family:'hiraginoW0';
  font-size: 150%;
}

.plofile {
  display: flex;
  margin-bottom: 7vw;
}

.plofileLeft {
  width: 45vw;
  margin-left: 7vw;
}

#plofileTitle {
  font-family:'SF-text';
  font-size: 250%;
}

.plofileLeft p {
  font-family:'hiraginoW0';
  font-size: 150%;
}

.plofileRight {
  width: 45vw;
}

.plofileRight img {
  width: 90%;
}

.contact {
  margin-bottom: 5vw;
}

#contactTitle {
  font-family:'SF-text';
  font-size: 250%;
  text-align: center;
  margin-bottom: 5vw;
}

.contactInput {
  text-align: center;
}

.contactInput p {
  font-family:'hiraginoW0';
  font-size: 150%;
}

footer{
  margin-top: 15%;
}

.copyright {
  width: 100%;
  text-align: center;
}

.copyright a{
  text-decoration: none;
}

.copyright p {
font-family:'SF-text';
  font-weight:100;
  font-size: 100%;
}


/*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*/
@media(max-width:1500px){

.skill{
  margin-top: 80%;
}

.comment p{
  font-size: 80%;
}

}
/*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*/
@media(max-width:1000px){

header{
  display: block;
  height:0px;
}

  .background{
    display: none;
  }

  .background_SMP{
    display: block;
    width: 100%;
  }

  .background video{
    display: none;
  }

  .background_SMP video{
    display: block;
    width: 100%;
  }

  .title{
    top:10%;
  }

  .work p{
    font-size: 120%;
  }

  .HP,.App,.Dim,.Animation,.Drawing,.Music{
    width: 100%;
  }

  .comment{
    padding-bottom: 15%;
  }

  .comment p{
    font-size: 70%;
  }

  #skillTitle{
    font-size: 120%;
  }

  .skill{
    margin-top: 120%;
  }

  .skill p{
    font-size: 70%;
  }

  #contactTitle{
    font-size: 120%;
  }

  .contact{
    margin-top: 20%;
    margin-bottom: 40%;
  }

  .contact p{
    font-size: 70%;
  }

  footer{
    margin-top: 20%;
  }

  .copyright p {
    font-size: 80%;
  }

}
